.title {
    font-family: $primary-text;
    font-size: $primary-size;
}

.description {
    font-family: $paragraph;
    font-size: $paragraph-size;
    @include desktop {
        
    }
}

.price {
    margin-top: 0;
    font-family: $paragraph;
    font-size: $secondary-size;
    text-align: center;
}

.slash-through {
    text-decoration: line-through;
}

.cart, .explore {
    font-family: $primary-text;
    font-size: $paragraph-size;
    width: 100%;
    padding: 10px;
    align-items: center;
    border-radius: 50px;
    border-width: 0px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    @include desktop {
        margin-left: auto;
        margin-right: auto;
    }
}

.bottle-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: -20px;
    z-index: 2;
    @include desktop {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.bottle-links {
    text-align: center;
    font-family: $paragraph;
    font-size: $paragraph-size;
    font-weight: 700;
    color: $vanilla;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    @include desktop {
        position: relative;
        padding-right: 100px;
        padding-left: 100px;
        justify-items: center;
        justify-self: right;
    }
}