$primary-text: 'Abril Fatface', serif !default;
$paragraph: 'Oxygen', sans-serif !default;
$primary-size: 42px !default;
$secondary-size: 28px !default;
$paragraph-size: 18px !default;
$vanilla: #EFE6DB !default;
$light-purple: #997EB7 !default;
$gold: #B9A43C !default;
$dark-purple: #381950 !default;