.review {
    background-color: $vanilla;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
}

.review-title {
    color: $gold;
    padding-bottom: 30px;
}

.review-paragraph {
    color: $dark-purple;
}
.quote {
    color: $dark-purple;
    font-weight: 700;
    padding-bottom: 30px;
}

