.magician-page {
    background-color: $light-purple;
    position: relative;
    width: 100%;
    height: auto;
    @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.magician-hero {
    position: relative;
    margin-left: 0;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.magician-packaging {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    @include desktop {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



.magician-page-title {
    font-family: $primary-text;
    font-size: $primary-size;
    color: $vanilla;
    text-align: center;
    @include desktop {
        grid-column-start: 2;
        justify-self: right;
        margin-top: 160px;
        margin-bottom: -20px;
    }
}

.magician-page-tagline {
    font-family: $paragraph;
    font-size: $secondary-size;
    font-weight: 700;
    color: $vanilla;
    text-align: center;
    @include desktop {
        grid-column-start: 2;
        justify-self: right;
        padding-bottom: 10px;
    }
}

.magician-description {
    font-family: $paragraph;
    font-size: $paragraph-size;
    color: $vanilla;
    padding-top: 40px;
    @include desktop {
        grid-column-start: 2;
        justify-self: right;
        text-align: right;
        font-size: $paragraph-size + 4px;
    }
}

.magician-page-button {
    @include desktop {
        height: 50px;
        width: 200px;
        grid-column-start: 2;
        justify-self: right;
    }
}

.magician-gallery {
    position: relative;
    width: 100%;
    height: auto;
    @include desktop {
        margin-top: 80px;
        padding-top: 120px;
        padding-bottom: 900px;
    }
}

.magician-photo {
    padding-top: 40px;
    padding-bottom: 40px;
    @include desktop {
        width: 100%;
        height: auto;
    }
}

.magician-footer {
    background-color: $dark-purple;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 80px;
    @include desktop {
        display: grid;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.first-link {
    @include desktop {
        grid-column-start: 1;
        
    }
}

.second-link {
    @include desktop {
        grid-column-start: 2;
        
    }
}

.third-link {
    @include desktop {
        grid-column-start: 3;
    }
}