.introduction {
    background-color: $dark-purple;
    position: relative;
    @include desktop {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 100px;
    }
}

.intro-title {
    color: $light-purple;
    padding-top: 40px;
}

.intro-description {
    color: $vanilla;
    padding-top: 20px;
    padding-bottom: 60px;
    @include desktop {
    padding-right: 160px;
    }
}